In [22]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [23]:
import pandas as pd
df = pd.read_csv('train.tsv', sep='\t')
# df = df.dropna()
# df = df.loc[0:50]
df.sample(10)

,date,time,id,reviewer name,reviewer address,contact number,variation,verified_reviews,sentiment,feedback
327,29-Jul-18,21:35:23,350880,Debra Perry,"6636 Cathy Place Suite 251\nLeeberg, AR 26348",7144873855,Charcoal Fabric,Very nice! I'm impressed - wish she had more ...,5,1
561,29-Jul-18,09:41:54,4604244,Candice Martinez,"25208 Ashley Avenue\nChristineport, NJ 38839",(728)271-5773,White Plus,Pretty cool. I have only begun to figure out t...,4,1
365,28-Jul-18,09:25:14,2801302,Terri Conner,"90006 Ramirez Circle Apt. 590\nDavidfort, GU 8...",332-282-0701,Black Show,Love seeing everything in the display!,5,1
1070,30-Jul-18,11:54:24,7715577,Savannah Wood,"878 Laura Rapid\nMorrisview, MA 72256",(990)537-5472,Charcoal Fabric,I have had Alexa since the beginning. I accid...,5,1
1460,30-Jul-18,02:21:57,506016,Joseph Chan,"624 Melissa Vista\nBlevinsmouth, DE 72311",(976)868-6319,Configuration: Fire TV Stick,Setup was easy and usage was intuitive. I've ...,5,1
2317,30-Jul-18,13:01:11,6650984,Bradley Taylor,"6218 Kelly Ways Suite 403\nBrockhaven, NJ 15737",(603)308-6965,Configuration: Fire TV Stick,This makes a big difference in searching for p...,5,1
885,3-Jun-18,18:11:04,5376963,Derek Townsend Jr.,"370 Christopher Ports Suite 241\nGrimeston, MP...",(663)923-8833,Black,Worked as advertised. Thanks,4,1
1224,11-Jul-18,09:03:03,7897438,Amanda Burton,"29177 Price Haven\nPort Jill, TN 87297",(825)402-9383,Black,I already have the echo plus. Bought this one...,5,1
1505,30-Jul-18,13:46:28,7715726,David Smith,"4239 Margaret Port\nPort Brianhaven, WI 75091",(475)481-8212,Charcoal Fabric,Not much features.,1,0
1317,29-Jul-18,18:26:27,8229628,Jason White,"29934 Henry Center\nJoseton, FM 99453",3948951134,White Show,Echo Show is perfect for staging in the kitche...,5,1

In [24]:
new_df=df[['variation','verified_reviews','sentiment','feedback']]
new_df

,variation,verified_reviews,sentiment,feedback
0,Black Plus,Love my new Echo Plus,5,1
1,Configuration: Fire TV Stick,Works really well.,5,1
2,Black Show,Echo Show is said to work with certain apps bu...,2,0
3,Heather Gray Fabric,Very cool product. Speaker sounds good with my...,5,1
4,Black Plus,So far I love it. It was easy to set up - if ...,5,1
...,...,...,...,...
2515,Black,Bought this for my son and it didnâ€™t work. He ...,1,0
2516,Black Dot,Alexa is phenomenal!,5,1
2517,Heather Gray Fabric,The sound is amazing and many collections of a...,5,1
2518,Black Show,Love how it shows the song info on the screen ...,5,1
2519,Black Dot,It works just like my other Dots.,5,1

In [25]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2520 entries, 0 to 2519
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   variation         2520 non-null   object
 1   verified_reviews  2519 non-null   object
 2   sentiment         2520 non-null   int64
 3   feedback          2520 non-null   int64
dtypes: int64(2), object(2)
memory usage: 78.9+ KB

In [26]:
new_df.dropna(inplace=True)
new_df.isnull().sum()

/tmp/ipykernel_3836/1339648692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.dropna(inplace=True)

variation           0
verified_reviews    0
sentiment           0
feedback            0
dtype: int64

In [27]:
new_df.sample(10)

,variation,verified_reviews,sentiment,feedback
2129,Black Show,Love it!,5,1
1061,Black Plus,It was supposed to come with a free Hue lightb...,1,0
1100,Black Show,"Works great , seems to be a delay bringing up ...",5,1
581,Black Spot,I love this thing! It plays my books from audi...,5,1
1566,Black,This is my third Dot. They all work perfectly ...,5,1
1092,Black Plus,The Echo Plus is great! So easy to set up and ...,5,1
2108,White Spot,When we were buying another product there was ...,5,1
2449,Charcoal Fabric,So far I like it ðŸ¤“,5,1
1205,Sandstone Fabric,"This echo is just as great as my others, even ...",5,1
2278,Black Show,"I love it! Plays great music, movies, and so m...",5,1

In [28]:
new_df['verified_reviews']=new_df['verified_reviews'].str.lower()
new_df['variation']=new_df['variation'].str.lower()

/tmp/ipykernel_3836/1705964552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['verified_reviews']=new_df['verified_reviews'].str.lower()
/tmp/ipykernel_3836/1705964552.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['variation']=new_df['variation'].str.lower()

In [29]:
new_df.sample(10)

,variation,verified_reviews,sentiment,feedback
2462,black show,easy to use!,5,1
212,black plus,we went to a best buy with the intention of bu...,5,1
1092,black plus,the echo plus is great! so easy to set up and ...,5,1
1843,charcoal fabric,"love, love, love!!",5,1
360,sandstone fabric,,5,1
283,black,happy with this as i was with the other 2 i or...,5,1
189,black dot,wish volume was capable of going louder,4,1
1269,black dot,works great and easy to set up!,5,1
171,configuration: fire tv stick,like,5,1
1750,black plus,just got mine last night. played around with i...,5,1

In [30]:
new_df['variation'].sample(10)

1635         black  spot
1584    charcoal fabric
1561    charcoal fabric
2128    charcoal fabric
1628          black  dot
1560               white
1322          black  dot
1228          black  dot
616           black  dot
2248               white
Name: variation, dtype: object

In [31]:
print(new_df['verified_reviews'][10],'\n next')
print(new_df['verified_reviews'][270],'\n next')
print(new_df['verified_reviews'][105],'\n next')
print(new_df['verified_reviews'][202])
new_df.sample(15)

totally enjoy our new echo plus.  great for fast facts and listening to beautiful music.  we are just getting started with all the benefits.
 next
it arrived quickly and was easy to set up ! it was a refurbished amazon echo dot it was above and beyond what i expected ! alexa and i have become buddies she is a great assistant
 next
great product, fun to use!!
 next
this is a great device. we mainly use it to verbally add things to the shopping list, but occasionally use any number of the &#34;fun&#34; things you can program it to do, like go to red alert or make the tardis land (yes, we're a house of geeks... we even chose the wake-word to be &#34;computer&#34; instead of &#34;alexa&#34;. now we just need majel barret's voice and i will be in geek heaven.) ;)it's not as easy to get my premium spotify to work properly with it, and still not sure how we can get multiple music accounts attached so we can listen to different music in different rooms, but so far it's still been worth it. i am often asking it the time, the weather, it even gives us a news briefing. we also use it as an intercom system which has been really awesome. plus it's fun knowing the nsa is listening to everything.

,variation,verified_reviews,sentiment,feedback
302,charcoal fabric,great sound from a little speaker,5,1
1681,black dot,i'm amazed with the alarm. i tell alexa to wak...,4,1
2340,white dot,use as my 3rd dot. bought so my husband would ...,5,1
2459,charcoal fabric,does everything as expected and more.,5,1
1075,white plus,"the sound quality is not that good, especially...",2,0
352,charcoal fabric,we love our echo! we were totally amazed at th...,5,1
1363,black dot,"easy to set up, can control kasa smart plugs n...",5,1
1920,black spot,"works decent, wish it was able to answer more ...",4,1
226,configuration: fire tv stick,easy to set up,5,1
2495,white spot,"we've owned a number of echo devices, but have...",5,1
1995,black spot,canâ€™t be used as a baby monitor which is why i...,1,0
1206,black dot,works like a champ.,5,1
13,heather gray fabric,she doesnâ€™t always listen,5,1
617,charcoal fabric,itâ€™s still a great product.but the sound quali...,4,1
2323,black spot,,1,0

In [32]:
# Removing puncuators and replacing emojis
import emoji
import string ,time
string.punctuation
# 865, 1541

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [33]:
exclude='!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~1234567890'
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text
def replace_emoji(text):
    return emoji.demojize(text)
new_df['verified_reviews']=new_df['verified_reviews'].apply(replace_emoji)
new_df['verified_reviews']=new_df['verified_reviews'].apply(remove_punc)
new_df.sample(10)
new_df['verified_reviews'][1541]

/tmp/ipykernel_3836/2022857366.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['verified_reviews']=new_df['verified_reviews'].apply(replace_emoji)
/tmp/ipykernel_3836/2022857366.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['verified_reviews']=new_df['verified_reviews'].apply(remove_punc)

'so far i like it nerdface'

In [34]:
# # Removing stop words

# stopwords=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
# def remove_stopwords(text):
#     new_text=[]
#     for word in text.split():
#         if word in stopwords:
#             new_text.append('')
#         else:
#             new_text.append(word)
#     x=new_text[:]
#     new_text.clear()
#     return " ".join(x)
# new_df['verified_reviews']=new_df['verified_reviews'].apply(remove_stopwords)
# new_df

In [35]:
import re
def pre_process(q):
    
    q = str(q).lower().strip()
    
    # Replace certain special characters with their string equivalents
    q = q.replace('%', ' percent')
    q = q.replace('$', ' dollar ')
    q = q.replace('â‚¹', ' rupee ')
    q = q.replace('â‚¬', ' euro ')
    q = q.replace('@', ' at ')
    
    # The pattern '[math]' appears around 900 times in the whole dataset.
    q = q.replace('[math]', '')
    
    # Replacing some numbers with string equivalents (not perfect, can be done better to account for more cases)
    q = q.replace(',000,000,000 ', 'b ')
    q = q.replace(',000,000 ', 'm ')
    q = q.replace(',000 ', 'k ')
    q = re.sub(r'([0-9]+)000000000', r'\1b', q)
    q = re.sub(r'([0-9]+)000000', r'\1m', q)
    q = re.sub(r'([0-9]+)000', r'\1k', q)
    
    # Decontracting words
    # https://en.wikipedia.org/wiki/Wikipedia%3aList_of_English_contractions
    # https://stackoverflow.com/a/19794953
    contractions = { 
    "ain't": "am not",
    "aren't": "are not",
    "can't": "can not",
    "can't've": "can not have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he would",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "i would",
    "i'd've": "i would have",
    "i'll": "i will",
    "i'll've": "i will have",
    "i'm": "i am",
    "i've": "i have",
    "isn't": "is not",
    "it'd": "it would",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "it will have",
    "it's": "it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she would",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so as",
    "that'd": "that would",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there would",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they would",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you would",
    "you'd've": "you would have",
    "you'll": "you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"
    }

    q_decontracted = []

    for word in q.split():
        if word in contractions:
            word = contractions[word]

        q_decontracted.append(word)

    q = ' '.join(q_decontracted)
    q = q.replace("'ve", " have")
    q = q.replace("n't", " not")
    q = q.replace("'re", " are")
    q = q.replace("'ll", " will")
    
    
    # Remove punctuations
    pattern = re.compile('\W')
    q = re.sub(pattern, ' ', q).strip()

    
    return q
new_df['verified_reviews'] = new_df['verified_reviews'].apply(pre_process)
new_df

/tmp/ipykernel_3836/2037120606.py:168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['verified_reviews'] = new_df['verified_reviews'].apply(pre_process)

,variation,verified_reviews,sentiment,feedback
0,black plus,love my new echo plus,5,1
1,configuration: fire tv stick,works really well,5,1
2,black show,echo show is said to work with certain apps bu...,2,0
3,heather gray fabric,very cool product speaker sounds good with my ...,5,1
4,black plus,so far i love it it was easy to set up if i ca...,5,1
...,...,...,...,...
2515,black,bought this for my son and it didn t work he h...,1,0
2516,black dot,alexa is phenomenal,5,1
2517,heather gray fabric,the sound is amazing and many collections of a...,5,1
2518,black show,love how it shows the song info on the screen ...,5,1
2519,black dot,it works just like my other dots,5,1

In [36]:
new_df.sample(10)

,variation,verified_reviews,sentiment,feedback
125,configuration: fire tv stick,the first stick is a solid entry level device ...,5,1
1679,black,dont trust this,1,0
2474,charcoal fabric,the best part of this product is you can contr...,5,1
892,black,we all love her,5,1
488,configuration: fire tv stick,the menus are cumbersome to get your apps set up,4,1
2437,black,not bad bad speaker for sound,3,1
270,black,it arrived quickly and was easy to set up it w...,5,1
1456,configuration: fire tv stick,my father liked the added programing in which ...,5,1
804,black plus,i like the whole thing so far,5,1
747,white dot,i like that she has the ability to do multiple...,5,1

lemmitization

In [37]:
# lemmitization

In [38]:
x=new_df.iloc[: , 0:1]
y=new_df.iloc[: , 1:2]
z=(new_df.iloc[: , 2:3]).to_numpy()

f=new_df['feedback']
z

array([[5],
       [5],
       [2],
       ...,
       [5],
       [5],
       [5]])

In [39]:
# Applying BoW
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(y,z,test_size=0.2,random_state=1)
x_test
# x_train_bow=cv.fit_transform(x)
# x_train_bow=x_train_bow.toarray()
# y_train_bow=cv.fit_transform(y)
# y_train_bow=y_train_bow.toarray()
# z_train_bow=cv.fit_transform(z)
# z_train_bow=z_train_bow.toarray()
# print(y_train_bow)
# # print(cv.vocabulary_)

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

                                       verified_reviews
995
1104                       amazon fire stick is amazing
692                                    worth every cent
1453                          love this so many options
547                              the volume is very low
...                                                 ...
1329  love itso happy to have everything available t...
2449                          so far i like it nerdface
784   easy to connect and the skills created for our...
1128  what a great little gadget for the house you a...
242   i was hesitant to buy the echo because i have ...

[504 rows x 1 columns]

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(binary=True,ngram_range=(1,1), max_features=1500)
x_train_bow=cv.fit_transform(x_train['verified_reviews']).toarray()
# y_train_bow=cv.transform(y_train['sentiment']).toarray()
x_test_bow=cv.fit_transform(x_test['verified_reviews']).toarray()
# y_test_bow=cv.transform(y_test['sentiment']).toarray()
# from sklearn.naive_bayes import GaussianNB
# gnb=GaussianNB()
# gnb.fit(y_train_bow,z_train_bow)
x_train_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [41]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(x_train_bow,y_train)
y_pred=gnb.predict(x_test_bow)
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

/home/rajatraj/.local/lib/python3.10/site-packages/sklearn/utils/validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6071428571428571

In [42]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train_bow,y_train)
y_pred=rf.predict(x_test_bow)
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

/home/rajatraj/.local/lib/python3.10/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.5654761904761905

In [43]:
new_df['variation_len'] = new_df['variation'].str.len() 
new_df['verified_reviews_len'] = new_df['verified_reviews'].str.len()
new_df['variation_num_words'] = new_df['variation'].apply(lambda row: len(row.split(" ")))
new_df['verified_reviews_words'] = new_df['verified_reviews'].apply(lambda row: len(row.split(" ")))
new_df.head()

/tmp/ipykernel_3836/2415555968.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['variation_len'] = new_df['variation'].str.len()
/tmp/ipykernel_3836/2415555968.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['verified_reviews_len'] = new_df['verified_reviews'].str.len()
/tmp/ipykernel_3836/2415555968.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['variation_num_words'] = new_df['variation'].apply(lambda row: len(row.split(" ")))
/tmp/ipykernel_3836/2415555968.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['verified_reviews_words'] = new_df['verified_reviews'].apply(lambda row: len(row.split(" ")))

,variation,verified_reviews,sentiment,feedback,variation_len,verified_reviews_len,variation_num_words,verified_reviews_words
0,black plus,love my new echo plus,5,1,11,21,3,5
1,configuration: fire tv stick,works really well,5,1,28,17,4,3
2,black show,echo show is said to work with certain apps bu...,2,0,11,567,3,115
3,heather gray fabric,very cool product speaker sounds good with my ...,5,1,20,73,4,12
4,black plus,so far i love it it was easy to set up if i ca...,5,1,11,139,3,33

In [44]:
def total_words(row):
    w1 = set(map(lambda word: word.lower().strip(), row['variation'].split(" ")))
    w2 = set(map(lambda word: word.lower().strip(), row['verified_reviews'].split(" ")))    
    return (len(w1) + len(w2))
new_df['word_total'] = new_df.apply(total_words, axis=1)
new_df.head()

/tmp/ipykernel_3836/48838799.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['word_total'] = new_df.apply(total_words, axis=1)

,variation,verified_reviews,sentiment,feedback,variation_len,verified_reviews_len,variation_num_words,verified_reviews_words,word_total
0,black plus,love my new echo plus,5,1,11,21,3,5,8
1,configuration: fire tv stick,works really well,5,1,28,17,4,3,7
2,black show,echo show is said to work with certain apps bu...,2,0,11,567,3,115,77
3,heather gray fabric,very cool product speaker sounds good with my ...,5,1,20,73,4,12,16
4,black plus,so far i love it it was easy to set up if i ca...,5,1,11,139,3,33,31

In [45]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
cv = CountVectorizer(binary=True,ngram_range=(1,2), max_features=5000)
feature1=list(new_df['variation'])
f1=cv.fit_transform(feature1).toarray()
feature2=list(new_df['verified_reviews'])
f2=cv.fit_transform(feature2).toarray()
f3=np.array(list(new_df['sentiment']))

# new features
f5=np.array(list(new_df['word_total']))
f6=np.array(list(new_df['variation_len']))
f7=np.array(list(new_df['verified_reviews_len']))
f8=np.array(list(new_df['variation_num_words']))
f9=np.array(list(new_df['verified_reviews_words']))

In [46]:
# Some new features
new_df

,variation,verified_reviews,sentiment,feedback,variation_len,verified_reviews_len,variation_num_words,verified_reviews_words,word_total
0,black plus,love my new echo plus,5,1,11,21,3,5,8
1,configuration: fire tv stick,works really well,5,1,28,17,4,3,7
2,black show,echo show is said to work with certain apps bu...,2,0,11,567,3,115,77
3,heather gray fabric,very cool product speaker sounds good with my ...,5,1,20,73,4,12,16
4,black plus,so far i love it it was easy to set up if i ca...,5,1,11,139,3,33,31
...,...,...,...,...,...,...,...,...,...
2515,black,bought this for my son and it didn t work he h...,1,0,5,61,1,15,15
2516,black dot,alexa is phenomenal,5,1,10,19,3,3,6
2517,heather gray fabric,the sound is amazing and many collections of a...,5,1,20,54,4,10,14
2518,black show,love how it shows the song info on the screen ...,5,1,11,89,3,17,19
2519,black dot,it works just like my other dots,5,1,10,32,3,7,10

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
x_train_tfidf=tfidf.fit_transform(x_train['verified_reviews']).toarray()
x_test_tfidf=tfidf.fit_transform(x_test['verified_reviews']).toarray()
rf.fit(x_train_bow,y_train)
y_pred=gnb.predict(x_test_bow)
from sklearn.metrics import accuracy_score,confusion_matrix
accuracy_score(y_test,y_pred)

/home/rajatraj/.local/lib/python3.10/site-packages/sklearn/base.py:1152: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

0.6071428571428571

In [48]:
temp_df1=pd.DataFrame(f1)
temp_df2=pd.DataFrame(f2)
temp_df2
temp_df3=pd.DataFrame(f3)
temp_df3

# new features
temp_newdf5=pd.DataFrame(f5)
temp_newdf6=pd.DataFrame(f6)
temp_newdf7=pd.DataFrame(f7)
temp_newdf8=pd.DataFrame(f8)
temp_newdf9=pd.DataFrame(f9)
temp_df4=pd.concat([temp_df1,temp_df2,temp_newdf5,temp_newdf6,temp_newdf7,temp_newdf8,temp_newdf9],axis=1)
temp_df=pd.concat([temp_df4,temp_df3],axis=1)
temp_df

,0,1,2,3,4,5,6,7,8,9,...,4996,4997,4998,4999,0,0,0,0,0,0
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,8,11,21,3,5,5
1,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,7,28,17,4,3,5
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,77,11,567,3,115,2
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,16,20,73,4,12,5
4,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,31,11,139,3,33,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2514,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,15,5,61,1,15,1
2515,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,6,10,19,3,3,5
2516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,14,20,54,4,10,5
2517,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,19,11,89,3,17,5
2518,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,10,10,32,3,7,5

In [49]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2)

In [50]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.8134920634920635

In [51]:
new_df

,variation,verified_reviews,sentiment,feedback,variation_len,verified_reviews_len,variation_num_words,verified_reviews_words,word_total
0,black plus,love my new echo plus,5,1,11,21,3,5,8
1,configuration: fire tv stick,works really well,5,1,28,17,4,3,7
2,black show,echo show is said to work with certain apps bu...,2,0,11,567,3,115,77
3,heather gray fabric,very cool product speaker sounds good with my ...,5,1,20,73,4,12,16
4,black plus,so far i love it it was easy to set up if i ca...,5,1,11,139,3,33,31
...,...,...,...,...,...,...,...,...,...
2515,black,bought this for my son and it didn t work he h...,1,0,5,61,1,15,15
2516,black dot,alexa is phenomenal,5,1,10,19,3,3,6
2517,heather gray fabric,the sound is amazing and many collections of a...,5,1,20,54,4,10,14
2518,black show,love how it shows the song info on the screen ...,5,1,11,89,3,17,19
2519,black dot,it works just like my other dots,5,1,10,32,3,7,10

Prediction

In [70]:
dft = pd.read_csv('test.tsv', sep='\t')
dft.sample(10)

,date,time,id,reviewer name,reviewer address,contact number,variation,verified_reviews,feedback
133,25-Jul-18,21:09:37,4418029,Claire Smith,"940 John Roads Apt. 160\nNicoleberg, MP 12444",593-836-3960,White Spot,This echo spot is great I love it,1
192,3-Jun-18,23:42:52,3145175,Scott Mcguire,"16218 James Mountain Suite 995\nLisafort, IN 7...",(219)241-2244,Black,No issues...works and looks great!!!,1
625,26-Jul-18,07:35:53,6856853,Isabel Buck,"6835 Stephanie Ferry\nPort Joshuaview, NM 29165",(427)926-2339,Black Spot,Best thing I have ever owned! Started with the...,1
252,30-Jul-18,03:49:06,7756600,Brittany Johnson,"5332 Sanchez Ways\nEast Joy, IL 41239",602-790-2461,Black Dot,I liked linking two more rooms in the home,1
507,7-Jul-18,14:26:10,5777824,Deanna Johnson DVM,"21971 Eric Island\nWest Gregorymouth, NY 71377",396-459-2576,Black,Love it just as good as a new one,1
446,8-Jun-18,15:59:36,2603827,Susan Foley,"338 Douglas Track Suite 630\nPort Robertmouth,...",6624883565,White,Fun and useful. We're still learning new trick...,1
136,24-Jun-18,03:29:44,5872996,James Turner,"9331 Farley Manor\nJennamouth, WV 70038",266-317-8971,Black,Workreat,1
436,28-Jul-18,06:22:24,7313610,Melissa Smith,"59857 Costa Rapid Suite 449\nRickyberg, VA 00965",776-493-1638,Charcoal Fabric,"Iâ€™m still learning how to use the Echo, but so...",1
415,30-Jul-18,21:55:44,8446910,Erin Ramirez,"PSC 1728, Box 0037\nAPO AA 74898",971-747-5530,Charcoal Fabric,wonderful product and fast delivery!,1
524,30-Jul-18,16:17:09,7457651,James Gonzalez,"6872 Deleon Circle\nWebbport, NJ 62668",(217)534-4638,Black Dot,"Works great.Having fun playing music,checking ...",1

In [71]:
new_dft=dft[['variation','verified_reviews']]
new_dft

,variation,verified_reviews
0,Heather Gray Fabric,I have the original Alexa and the Tap and so f...
1,Black Plus,Great product. More skills are needed. I love it.
2,Configuration: Fire TV Stick,I will never buy anything Amazon makes again!T...
3,Black Plus,Not perfect but very good! A few times Alexa p...
4,Black Show,Kids like it for games. Showing the lyrics fo...
...,...,...
625,Black Spot,Best thing I have ever owned! Started with the...
626,Black Dot,"I love being able to control lights, doors and..."
627,Configuration: Fire TV Stick,works great
628,White,Purchased for my 83 year old mother-she loves ...
629,Black Spot,Fun so far...still learning how it all works

In [72]:
new_dft.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   variation         630 non-null    object
 1   verified_reviews  630 non-null    object
dtypes: object(2)
memory usage: 10.0+ KB

In [73]:
# new_df.dropna(inplace=True)
new_dft.isnull().sum()

variation           0
verified_reviews    0
dtype: int64

In [74]:
new_dft['verified_reviews']=new_dft['verified_reviews'].str.lower()
new_dft['variation']=new_dft['variation'].str.lower()

/tmp/ipykernel_3836/3026505861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dft['verified_reviews']=new_dft['verified_reviews'].str.lower()
/tmp/ipykernel_3836/3026505861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dft['variation']=new_dft['variation'].str.lower()

In [75]:
new_dft.sample(10)

                variation                                   verified_reviews
56            black  spot  after purchasing my echo spot to add to our ot...
174           black  plus  i never had alexa before but the biggest reaso...
277           white  show  love the echo show, can keep i can video chat ...
131           black  show               works great.. nice sound and picture
376     sandstone fabric   very impressed with look, clarity of sound and...
52             white  dot                          works like any other one!
398           white  show  very disappointed.  alexa doesnâ€™t hear me and ...
33                  black                                           it works
478  heather gray fabric                                                cool
485           black  plus  we use alexa primarily for listening to music ...

In [76]:
import emoji
import string ,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [77]:
exclude='!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~1234567890'
def remove_punc(text):
    for char in exclude:
        text=text.replace(char,'')
    return text
def replace_emoji(text):
    return emoji.demojize(text)
new_dft['verified_reviews']=new_dft['verified_reviews'].apply(replace_emoji)
new_dft['verified_reviews']=new_dft['verified_reviews'].apply(remove_punc)
new_dft.sample(10)
new_dft['verified_reviews'][100]

/tmp/ipykernel_3836/1368624278.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dft['verified_reviews']=new_dft['verified_reviews'].apply(replace_emoji)
/tmp/ipykernel_3836/1368624278.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dft['verified_reviews']=new_dft['verified_reviews'].apply(remove_punc)

'we love alexa we use her to play music play radio through itunes play podcasts through anypod and set reminders we listen to our flash briefing of news and weather every morning we rely on our custom lists we like being able to voice control the volume were sure well continue to find new usessometimes its a bit frustrating when alexa doesnt understand what were saying'

In [78]:
# Removing stop words

stopwords=['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]
def remove_stopwords(text):
    new_text=[]
    for word in text.split():
        if word in stopwords:
            new_text.append('')
        else:
            new_text.append(word)
    x=new_text[:]
    new_text.clear()
    return " ".join(x)
new_dft['verified_reviews']=new_dft['verified_reviews'].apply(remove_stopwords)
new_dft

/tmp/ipykernel_3836/1287860973.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_dft['verified_reviews']=new_dft['verified_reviews'].apply(remove_stopwords)

,variation,verified_reviews
0,heather gray fabric,original alexa tap far nd generation ...
1,black plus,great product skills needed love
2,configuration: fire tv stick,never buy anything amazon makes againthis fi...
3,black plus,perfect good times alexa picked somethin...
4,black show,kids like games showing lyrics songs neat
...,...,...
625,black spot,best thing ever owned started dot added ...
626,black dot,love able control lights doors music
627,configuration: fire tv stick,works great
628,white,purchased year old mothershe loves talking ...
629,black spot,fun farstill learning works

In [79]:
new_dft.sample(10)

,variation,verified_reviews
462,charcoal fabric,great sound little speaker
424,configuration: fire tv stick,able use alexa echo great
46,configuration: fire tv stick,works great lag much better gen devices ...
233,white plus,blast love echo learning tricks lots f...
168,charcoal fabric,use product enjoyment love
94,charcoal fabric,speaker sounds really good
345,charcoal fabric,supberb sound definitely worth extra money ...
236,black,like new difference new unused original
593,heather gray fabric,set user friendly setup wasnt user friendl...
195,black plus,setup device simple effective pleased ...

In [80]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
cv = CountVectorizer(binary=True,ngram_range=(1,2), max_features=5000)
feature1t=list(new_dft['variation'])
f1t=cv.fit_transform(feature1t).toarray()
feature2t=list(new_dft['verified_reviews'])
f2t=cv.fit_transform(feature2t).toarray()
f1t

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [81]:
temp_df1=pd.DataFrame(f1t)
temp_df2=pd.DataFrame(f2t)
temp_dft=pd.concat([temp_df1,temp_df2],axis=1)
temp_dft

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
626,1,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
627,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
628,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
629,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
x2_test=temp_dft.values
x2_test

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [83]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(x2_test)
y_pred

ValueError: X has 5035 features, but RandomForestClassifier is expecting 5040 features as input.

In [86]:
out_dft2 = pd.DataFrame({'sentiment': y_pred})
out_dft2

     sentiment
0            5
1            3
2            5
3            5
4            5
..         ...
499          5
500          3
501          4
502          5
503          5

[504 rows x 1 columns]

In [87]:
out_dft1=dft[['id']]
out_dft1

          id
0    6074908
1    1159008
2    1759753
3    1861422
4    3116018
..       ...
625  6856853
626   774782
627  1194506
628  4145653
629  7267404

[630 rows x 1 columns]

In [88]:
out_dft=pd.concat([out_dft1,out_dft2],axis=1)
print(out_dft)

          id  sentiment
0    6074908        5.0
1    1159008        3.0
2    1759753        5.0
3    1861422        5.0
4    3116018        5.0
..       ...        ...
625  6856853        NaN
626   774782        NaN
627  1194506        NaN
628  4145653        NaN
629  7267404        NaN

[630 rows x 2 columns]

In [89]:

# Specify the file path where you want to save the CSV file
file_path = '/home/rajatraj/Desktop/submission.csv'

# Save the DataFrame to a CSV file
out_dft.to_csv(file_path, index=False)

# Optional: Display a message indicating that the file has been saved
print(f"DataFrame saved to {file_path}")

DataFrame saved to /home/rajatraj/Desktop/submission.csv